@use "../../styles/index.scss" as *;

.product__card-container {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
}

.product__card {
  display: flex;
  gap: 5rem;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 3rem;
  }

  @media (max-width: 650px) {
    gap: 2rem;
  }

  .product__img {
    height: 100%;
    width: 50%;

    @media (max-width: 900px) {
      width: 100%;
    }
    img {
      height: 100%;
      border-radius: 8px;
      width: 100%;
    }
  }

  .product__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    @media (max-width: 900px) {
      width: 100%;
      text-align: center;
      gap: 2rem;
      align-items: center;
    }

    .overline {
      @include overline-styling;
    }

    .display {
      display: none;
    }

    h2 {
      @include h2-styling;
      width: 70%;
    }

    P {
      @include body-styling;
      @media (max-width: 900px) {
        width: 80%;
      }
    }

    .button {
      @include button-1-stying;
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
}
