@use "../../styles/index.scss" as *;

.catagory__hero {
  background-color: var(--dark-grey);
  padding: 6rem;
  margin-bottom: 10rem;

  @media (max-width: 650px) {
    padding: 2rem;
  }
  .wrapper {
    h2 {
      @include h2-styling(var(--white));
      text-align: center;
      margin: auto;
      width: 100%;

      @media (max-width: 650px) {
        width: 100%;
      }
    }

    .catagory__hero-stagger {
    }
  }
}
