@use "../../styles/index.scss" as *;

.cart__item {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  box-sizing: border-box;

  .cart__item-info {
    .cart__item-name {
      @include body-styling;
      font-weight: var(--font-weight-bold);
    }
    .cart__item-price {
      @include body-styling;
      font-weight: var(--font-weight-bold);
      color: var(--lightest-grey);
    }
  }

  .cart__item-image {
    height: 4rem;
    border-radius: 8px;
  }
}
