@use "../../styles/index.scss" as *;

.cart__container {
  position: absolute;
  right: 350px;
  top: 12vh;
  padding: 2rem;
  width: 30rem;
  border-radius: 8px;
  position: absolute;
  background-color: var(--white);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 900px) {
    right: 20px;
    width: 25rem;
  }

  @media (max-width: 650px) {
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 95vw;
  }

  .cart__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    justify-content: flex-start; /* center can cause clipping */
    overflow-y: auto;
    gap: 1rem;
    max-height: 40vh; /* bigger so more items show */
    box-sizing: border-box;

    .cart__empty {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      .cart-icon {
        fill: var(--lightest-grey);
        height: 5rem;
      }
      p {
        color: var(--lightest-grey);
      }
    }
  }

  .cart__list-padding {
  }
}
