@use "../../styles/index.scss" as *;

.hero {
  height: 90vh;
  color: white;
  background-image: url(../../assets//home/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-color: var(--dark-grey);
  background-size: contain;
  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero__content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  .overline {
    @include overline-styling(var(--white));
  }

  h1 {
    @include h1-styling(var(--white));
  }

  .text {
    @include body-styling(var(--white));
    width: 60%;
    margin-bottom: 2rem;
  }
}
.hero-btn {
  @include button-1-stying;
  width: fit-content;
}
