@use "../../styles/index.scss" as *;

.about {
  height: 60vh;
  margin-top: 10rem;
  margin-bottom: 10rem;
  .wrapper {
    display: flex;
    flex-direction: row !important;
    height: 100%;
  }

  &__content {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    h2 {
      @include h2-styling;
      width: 80%;
      span {
        color: var(--orange);
      }
    }

    p {
      @include body-styling(var(--grey));
      width: 85%;
    }
  }

  &__img {
    background-image: url(../../assets/shared/desktop/image-best-gear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%;
    border-radius: 8px;
  }
}
