@use "../../styles/index.scss" as *;

.product__interactions {
  display: flex;
  height: 3rem;
  gap: 2rem;

  @media (max-width: 900px) {
    gap: 1rem;
    width: 100%;
  }
  .counter {
    width: 10rem;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    .count {
      font-weight: var(--font-weight-bold);
    }

    .btn {
      background-color: transparent;
      border: none;
      color: var(--lightest-grey);
      font-size: 1.5rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      pointer-events: auto;

      @media (max-width: 900px) {
        width: 50%;
      }

      &:hover {
        color: var(--orange);
      }
    }

    .btn.disabled {
      pointer-events: none;
    }
  }

  .product__btn {
    @include button-1-stying;
    @media (max-width: 900px) {
      padding: 1rem;
      font-size: 0.7em;
      width: 50%;
    }
  }
}
