@use "../../styles/index.scss" as *;


.product{
  .wrapper{
    .product__card:nth-child(even){
      flex-direction: row;
    }
  }
}

.product__card {

  .product__content {
    gap: 3rem;

    .product__header{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    
    .product__description {
      color: var(--lightest-grey-text);
      width: 80%;
    }

    .product__price {
      @include h6-styling;
    }
  }
}
