.checkOut {
  padding: 8rem 0;
  background-color: var(--light-grey);

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__container {
    display: flex;
    gap: 2rem;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  padding: 1rem 0;
}
