@use "../../styles/index.scss" as *;

.summary__item {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  box-sizing: border-box;

  .summary__item-info {
    .summary__item-name {
      @include body-styling;
      font-weight: var(--font-weight-bold);
    }
    .summary__item-price {
      @include body-styling;
      font-weight: var(--font-weight-bold);
      color: var(--lightest-grey);
    }
  }

  .summary__item-image {
    height: 4rem;
    border-radius: 8px;
  }

  .summary__item-quantity {
    margin-left: auto;
    @include body-styling(var(--lightest-grey));
    font-weight: var(--font-weight-bold);
  }
}

.summary-text__container {
  @include body-styling(var(--lightest-grey));
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    @include h6-styling;
    float: right;
  }

  .grandTotal {
    color: var(--orange);
  }
  
  .button{
    margin-top: 1rem;
    width: 100%!important;
    @include button-1-stying
  }
}
