@use "../../styles/index.scss" as *;

/*NAV STYLING*/

.nav {
  width: 40%;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
    text-transform: uppercase;
    font-size: 13px;

    .nav__link {
      text-decoration: none;
      @include sub-title-styling(var(--white))
    }
  }
}
