@use "../../styles/index.scss" as *;

/*NAVBAR STYLING*/

.navbar {
  width: 100%;
  background-color: var(--dark-grey);
  height: 10vh;
  z-index: 3;
  position: relative;

  @media (max-width: 650px) {
    background-color: transparent;
  }

  .navbar__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lightest-grey);

    @media (max-width: 650px) {
      width: 100%;
      background-color: var(--dark-grey);
      padding: 0 2rem;
    }

    .mobile__icon {
      display: none;

      @media (max-width: 900px) {
        display: block;
      }
    }
  }
}

.disabled {
  overflow: hidden;
}
