@use "../../styles/index.scss" as *;

.footer {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 3rem 0;

  .orange-bar {
    background-color: var(--orange);
    height: 0.25rem;
    width: 6.313rem;
    position: relative;
    top: -48px;
    left: 18.5%;

    @media (max-width: 900px) {
      left: 5.5%;
    }

    @media (max-width: 650px) {
      left: 40%;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;

    @media (max-width: 900px) {
      gap: 1rem;
    }

    @media (max-width: 650px) {
      align-items: center;
      gap: 1rem;
    }

    .nav {
      display: block;
      width: fit-content;

      .nav__list {
        gap: 2rem;

        @media (max-width: 650px) {
          text-align: center;
          flex-direction: column;
        }
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;

      .nav__list {
        gap: 2rem;
      }
    }
  }

  .goal {
    @include body-styling;
    color: var(--grey);
    width: 45%;

    @media (max-width: 900px) {
      width: 100%;
      text-align: left;
    }

    @media (max-width: 650px) {
      width: 70%;
      text-align: center;
      margin: auto;
    }
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
}
